@charset 'UTF-8';

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  width: 100%;
  height: 80px;
  background-color: #58A9EF;
  color: #fff;
}

/* 両セクションで共通のCSSを定義 */
.container {
  width: 80vw;
  max-width: 1000px;
  margin: 0 auto;
}


/* header部分のCSS */
.header>.container {
  height: 80px;
  display: flex;
  align-items: center;
}

.header .logo {
  font-size: 28px;
}

.header nav {
  margin-left: auto;
  margin-right: 0;
}

.header nav ul {
  display: flex;
  list-style: none;
}

.header nav a {
  text-decoration: none;
  color: #fff;
}


.header nav li {
  margin-left: 20px;
  font-size: 20px;
}


/* topセクションの設定 */
.top-image img {
  width: 100%;
  height: auto;
}

/* ２つめのセクション */
.feature h2 {
  text-align: center;
  padding: 40px;
  font-size: 40px;
}


.inner-container {
  display: flex;
}

.left-part, .right-part {
  width: 50%;
}

.left-part img {
  width: 100%;
}

.right-part {
  padding-left: 50px;
  padding-right: 50px;
}

.right-part h3 {
  font-size: 34px;
}

.right-part p {
  margin-top: 24px;
  font-size: 18px;
}

.right-part .read-more-button {
  margin-top: 20px;
  display: flex;
  width: 200px;
  height: 50px;
  background-color: #58A9EF;
  border-radius: 10px
}

.right-part .read-more-button p {
  color: #fff;
  margin: auto;
}


/* フッターの部分 */
footer {
  height: 100px;
  background-color: #58A9EF;
  margin-top: 30px;
  text-align: center;
}

footer h2 {
  color: #fff;
  padding-top: 20px;
}