@charset 'UTF-8';

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  width: 100%;
  height: 80px;
  background-color: #58A9EF;
  color: #fff;
}

/* 両セクションで共通のCSSを定義 */
.container {
  width: 80vw;
  max-width: 1000px;
  margin: 0 auto;
}


/* header部分のCSS */
.header>.container {
  height: 80px;
  display: flex;
  align-items: center;
}

.header .logo {
  font-size: 28px;
}

.header nav {
  margin-left: auto;
  margin-right: 0;
}

.header nav ul {
  display: flex;
  list-style: none;
}

.header nav a {
  text-decoration: none;
  color: #fff;
}


.header nav li {
  margin-left: 20px;
  font-size: 20px;
}


/* topセクションの設定 */
.top-image img {
  width: 100%;
  height: auto;
}